@{ ViewData["Title"] = "DMSP";
 }
<h1 style="color:orangered">Danh Mục Sản Phẩm</h1>
<link rel="stylesheet" href="~/css/DMSPcss.css" />
<br />


<div class="container">



    <a class="csw-media" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="PC">
        <div class="text-lg-center text-dark ">PC</div>
        <img src="https://minhducpc.vn/uploads/product/q.jpg" width="250" height="250" />

    </a>

    <a class="csw-media" href="#" style="text-decoration:none">
        <div class="text-lg-center text-dark">LAPTOP</div>
        <img src="https://anphat.com.vn/media/product/40431_laptop_asus_tuf_gaming_f15_fx506lh_hn188w__1__2_.jpg" width="250" height="250" />

    </a>

    <a class="csw-media" href="#" style="text-decoration:none">
        <div class="text-lg-center text-dark ">Màn Hình</div>
        <img src="https://images.fpt.shop/unsafe/filters:quality(5)/fptshop.com.vn/Uploads/images/2015/Tin-Tuc/QuanLNH2/ASUS-ProArt-PA247CV-1.jpg" width="250" height="250" />

    </a>

    <a class="csw-media" href="#" style="text-decoration:none">
        <div class="text-lg-center text-dark ">Linh Kiện PC</div>
        <img src="http://maytinhhoangha.com/uploads/files/Linh-kien-may-tinh-cu-may-tinh-hoang-ha.jpg" width="250" height="250" />

    </a>

    <a class="csw-media" href="#" style="text-decoration:none">
        <div class="text-lg-center text-dark ">Phụ Kiện LAPTOP</div>
        <img src="https://vcdn-sohoa.vnecdn.net/2021/07/13/elevator-laptop-stand-keyboard-5340-1857-1626165072.jpg" width="250" height="250" />

    </a>
</div>
