@{ ViewData["Title"] = "PC"; }
<h1>PC Theo Nhu Cầu sử dụng</h1>
<link rel="stylesheet" href="~/css/DMSPcss.css" />
<br />


<div class="container">



    <a class="csw-media" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="PCVanPhong">
        <div class="text-lg-center text-dark ">PC Văn Phòng</div>
        <img src="https://thanhcongcomputer.vn/wp-content/uploads/2021/04/mua-may-tinh-van-phong-dell-gia-re-1.png" width="250" height="250" />

    </a>

    <a class="csw-media" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="PCGaming">
        <div class="text-lg-center text-dark">PC Gaming</div>
        <img src="https://www.ubuy.vn/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNzFmVnBmeDVvaUwuX0FDX1NMMTUwMF8uanBn.jpg" width="250" height="250" />

    </a>

    <a class="csw-media" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="PCWorkstation">
        <div class="text-lg-center text-dark ">PC Workstation</div>
        <img src="https://minhancomputer.com/media/product/250_4727_pc_gaming_i7_10700__gtx_1650__ram_16gb__ssd_250gb.jpg" width="250" height="250" />

    </a>

    <a class="csw-media" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="PCMiNi">
        <div class="text-lg-center text-dark ">PC Mini</div>
        <img src="https://hanoicomputercdn.com/media/product/52121_mini_pc_pn60_b5352mv_01.png" width="250" height="250" />

    </a>


</div>
