<link rel="stylesheet" href="~/css/PCVanPhong.css" />
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="https://anphat.com.vn/media/product/34056_39808_tmp_20210729164230726.png" width="550" height="550" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>PC Gaming</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(48 Lượt Mua)</span>
                    </div>
                    <div class="product__details__price">22.500.000 VNĐ</div>
                    <p>Mainboard ASUS PRIME H510M-K</p>

                    <p>CPU Intel Core i3-10100F</p>

                    <p>RAM Corsair Vengeance LPX 16GB (2x8GB) DDR4 2666MHz Black</p>

                    <p>VGA GIGABYTE GeForce GTX 1660 SUPER OC 6G</p>

                    <p>Nguồn máy tính Cooler Master Elite V3 230V PC600 600w</p>

                    <p>Vỏ case XIGMATEK Venom II MES - EN47284</p>
                    <p>Hệ điều hành: Windows 11 Home 64bit</p>


                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Thêm vào Giỏ Hàng</a>

                    <ul>
                        <li><b>Tình Trạng </b> <span>Còn Hàng</span></li>
                        <li><b>Giao Hàng </b> <span>3-5 Ngày tùy khu vực </span></li>
                        <li><b>Cân Nặng</b> <span>6.4 kg</span></li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->