<link rel="stylesheet" href="~/css/PCVanPhong.css" />
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="https://anphat.com.vn/media/product/33038_61778_may_tinh_intel_nuc_10_100.jpg" width="550" height="550" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>PC Mini</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(9 Lượt Mua)</span>
                    </div>
                    <div class="product__details__price">9.500.000 VNĐ</div>
                    <p>
                        CPU: Intel Core i3-10110U (2.1 Upto 4.1GHz, 2 nhân 4 luồng, 4MB)

                    </p>

                    <p>RAM: 2 khe x DDR4-2666MHz SODIMM Slots (Up to 64GB)</p>

                    <p>Ổ cứng: 2 ổ lưu trữ, kích thước 2.5, M.2</p>

                    <p>VGA: UHD Graphics</p>

                    <p>Hệ điều hành: PC DOS</p>

                    <p>Kết nối mạng: Wlan + Bluetooth</p>





                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Thêm vào Giỏ Hàng</a>

                    <ul>
                        <li><b>Tình Trạng </b> <span>Còn Hàng</span></li>
                        <li><b>Giao Hàng </b> <span>3-5 Ngày tùy khu vực </span></li>
                        <li><b>Cân Nặng</b> <span>1.5 kg</span></li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->