<link rel="stylesheet" href="~/css/PCVanPhong.css" />
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="https://thanhcongcomputer.vn/wp-content/uploads/2021/04/mua-may-tinh-van-phong-dell-gia-re-1.png" width="550" height="550" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>PC Văn Phòng</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(36 Lượt Mua)</span>
                    </div>
                    <div class="product__details__price">10.000.000 VNĐ</div>
                    <p>CPU: Intel® Core™ i3-10105 Processor (6M Cache, up to 4.4GHz, 4 cores)</p>

                    <p>RAM:4GB DDR4 ( 2 slots, up to 32GB) (x2 khe cắm)</p>

                    <p>Ổ cứng: 256GB M.2 NVMe™ PCIe® 3.0 SSD (x1 slot HDD 3.5" Sata)</p>

                    <p>VGA: Đồ họa Intel® UHD</p>

                    <p>Kết nối mạng: Lan gigabit, wifi + bluetooth</p>

                    <p>Hệ điều hành: Windows 11 Home 64bit</p>

                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Thêm vào Giỏ Hàng</a>

                    <ul>
                        <li><b>Tình Trạng </b> <span>Còn Hàng</span></li>
                        <li><b>Giao Hàng </b> <span>3-5 Ngày tùy khu vực </span></li>
                        <li><b>Cân Nặng</b> <span>5.5 kg</span></li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->