<link rel="stylesheet" href="~/css/PCVanPhong.css" />
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="https://thanhcongcomputer.vn/wp-content/uploads/2020/06/pc-gaming-i3-10100f-8gb-gtx-1650-4gb.jpg" width="550" height="550" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>PC Workstation</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(12 Lượt Mua)</span>
                    </div>
                    <div class="product__details__price">55.200.000 VNĐ</div>
                    <p>
                        Mainboard MSI MAG B550M MORTAR

                    </p>

                    <p>CPU AMD Ryzen 5 5600X</p>

                    <p>Ram Kingston FURY Beast RGB 16GB (2x8GB) DDR4 3200MHz</p>

                    <p>VGA LEADTEK NVIDIA Quadro P2200 5G GDDR5X</p>

                    <p>Ổ cứng SSD Kingston NV1 250GB NVMe PCIe Gen 3.0 x 4</p>

                    <p>Ổ cứng WD Caviar Blue 1TB 64MB</p>
                    <p>Nguồn máy tính Corsair CV650 80 Plus Bronze</p>
                    <p>Vỏ case Xigmatek VERA</p>
                    <p>Tản nhiệt nước Corsair H100i RGB PRO XT</p>
                    <p>Kết nối mạng: LAN</p>

                    <p>Hệ điều hành: Windows 11 Home 64bit</p>


                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Thêm vào Giỏ Hàng</a>

                    <ul>
                        <li><b>Tình Trạng </b> <span>Còn Hàng</span></li>
                        <li><b>Giao Hàng </b> <span>3-5 Ngày tùy khu vực </span></li>
                        <li><b>Cân Nặng</b> <span>7.6 kg</span></li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->