.gradient-custom {
    /* fallback for old browsers */
    /*background: #f093fb;*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to bottom right, rgb(0 255 255), rgb(182 255 0));*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgb(255 0 0))*/
    background-image: url(https://cdn.tgdd.vn/Files/2018/11/17/1131911/pc-la-gi-nen-mua-pc-hay-laptop-ca-nhan--1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
